* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
.nav-items {
  color: white;
  padding: 0.6rem;
  font-weight: bolder;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-icons {
  color: white;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
.leetcode-logo {
  max-height: 2rem;
}
/* .nav-icons:hover {
  color: #0077b5;
  cursor: pointer;
  border-radius: 5%;
} */
.active {
  color: #eb3b3b;
}
.nav-items:hover {
  color: #eb3b3b;
  cursor: pointer;
  border-radius: 5%;
  background-color: rgba(
    var(--joy-palette-neutral-darkChannel, 251 252 254) / 0.1
  );
}
